name: code-style

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  lint:
    name: Lint code base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]

      - name: Lint with flake8
        run: flake8 skillner --max-line-length=89

      - name: Check documentation formatting
        run: pydocstyle skillner --ignore="D100","D102","D104","D105","D107","D203","D213"